<div class="login-container">
    <h1>Logueate:</h1>
    <form id="loginForm" class="form-clsss">
     
        <label for="">Email:</label>
        <input type="text" name="email">
       
        <label for="">Password:</label> 
        <input type="text" name="password">
       
        <input type="submit" value="Entrar">
    </form>

<h3><a href="/restorepassword" class="link-style"> ¿Olvidaste tu contraseña? </a></h3>
<h3><a href="/api/session/github" class="link-style"> Ingresar con cuenta de GitHub</a></h3>
</div>



<script src="/js/login.js"></script>