
<div class="inicio-container" >


<div>
    
    <h1>
        Regístrate!
    </h1>
    <form id="registerForm" class="form-clsss">
        <input type="text" name="first_name" placeholder="First name">
       
        <input type="text" name="last_name" placeholder="Last Name"> 
       
        <input type="text" name="email" placeholder="email@...">
        <input type="text" name="password" placeholder="password">
        <input type="submit" value="Registrar">
    </form>

     <a href="/login"  class="btn-redirect-login">Ya estoy registrado!</a>
</div>

    
</div>




<script src="/js/register.js" ></script>