<div>
    <h1>
        Regístrate!
    </h1>
    <form id="registerForm">
        <label for="">Name:</label>
        <input type="text" name="first_name">
        <label for="">Last Name:</label>
        <input type="text" name="last_name">
        <label for="">Email:</label>
        <input type="text" name="email">
        <label for="">Password:</label> 
        <input type="text" name="password">
        <input type="submit" >
    </form>
</div>
<script src="/js/register.js" ></script>
