<div class="my-3 row">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand textColor" href="#">TV</a>
            <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{!-- <li class="nav-item">
                        <a class="nav-link textColor" aria-current="page" href="/api/personal">Perfil</a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link textColor" aria-current="page" href="/api/products">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textColor" href="/api/carts">Carritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textColor" href="/api/realtimeproducts">Real Time products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textColor" href="/api/chat">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
