<div class="card m-2 cardStyle" style="width: 320px;">
    <div class="card-body">
        <h5 class="card-title">MI PERFIL</h5>
        <form class="container" action="/api/personal" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit" class="btn col"><img class="deleteIcon" src="https://cdn.icon-icons.com/icons2/692/PNG/512/seo-social-web-network-internet_262_icon-icons.com_61518.png" alt=""></button>
        </form>
        <div class="d-flex mb-3">
            <div class="picture"></div>
        </div>
    </div>
</div>