<h1>Login</h1>
<div>
    <form id="loginForm" class="container col-3 m-auto d-flex flex-column">
        <label>Email</label>
        <input name="email">
        <br />

        <label>pass</label>
        <input name="password" type="password">

        <input class="my-4 btn btn-primary" type="submit">
    </form>
    <a id="register" class="btn btn-info d-flex m-auto col-1 justify-content-center">Register</a>
    <a id="github" href="api/session/github" class="btn btn-dark d-flex m-auto mt-4 col-2 justify-content-center">Login whit GitHub <span class="mx-2"><i class="fab fa-github"></i> </span> </a>

</div>
<script src="js/login.js"></script>