.productCart img{
    width: 170px;
}

.productCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
}

.productCart div{
    padding: 10px;
    margin: 10px;
}